
 *{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.formulario{
    display: grid;
    grid-column: 1fr;
     background: rgba(221, 170, 74, 0.2);
    }
.icono{
width: 4.5vh;
height: 5vh;
}
.icono1{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    }

    .formulario .button{
     position: relative;
        right: -85%;   
    }
    .button{        
        color: #fff;
        font-size: 20px;
        font-family: Georgia, Times, 'Times New Roman', serif;
        background: #6F0930;
    }
.main{
    /*f4 posible*/
    height: 100vh;
      width: 100%;
    background: url('../../materiales/Diseño\ sin\ título.png') no-repeat CENTER;       
    background-attachment: fixed;
    overflow: hidden;

    
}
.menu {
    z-index: 1000;
}
.slider
{
    position: relative;
    width: 100%;
    height: 600px;
    left: -15px;
    overflow: hidden;

}

.slider ul{
    display: flex;
    animation: cambio 30s infinite  linear;
    width: 300%;

}
.slider li{
    width: 100%;
    list-style: none;

}
.slider img{
    width: 100%;
    height: 60%;
}
@keyframes cambio {
    0%{margin-left: 0;}
    20%{margin-left: 0;}
    
    25%{margin-left: -100%;}
    45%{margin-left: -100%;}
    
    50%{margin-left: -200%;}
    70%{margin-left: -200%;}
}

.contenedor{      
    width: 96%;
    max-width: 1000px;
    margin: auto;
    background-color: rgba(255, 255,255,.9);
}

.contenedor p{
    margin-bottom: 30px;
}

.logo{    

    background:url('../materiales/banner1.jpg') 99%;
    background-size: cover;

}

.logo img{

 border-radius: 50%;
}
.logo1{
    width: 100%;
    background: rgba(117, 24, 46, 0.8);
}
.logo1 img{

    border-radius: 50%;
    width: 80px;
    height: 80px;
   }

header{
    width: 100%;
    font-size: 20px;
}
header nav{
    background: rgba(117, 24, 46, 0.8);
    margin-bottom: 10px;
    -webkit-transition: all  ease .5s;
    -o-transition: all  ease .5s;
    transition: all ease .5s;    
}

header nav ul{
    padding: 0;
    list-style: none;
    overflow: hidden;

}

header nav>ul>li{   
    float: left;
 
}

header nav ul li a{
    display: block;
    padding: 30px;
    color: #fff;
    text-decoration: none;
}
header nav ul li a:hover
{
    color: #000;
    background: rgba(241, 193, 88, 0.8);
}

header nav li>ul{
display:none;
position: absolute;
background: rgba(117, 24, 46, 0.8);
padding: 0px;
min-width: 40px;
}
nav li:hover >ul{
    display: block;

}
/*
header nav ul li a img{
    border-radius: 45%;
    background: #e5dcf0;   
}
*/


.menu-fixed{
    
    width: 100%;
    position: fixed;    
    z-index: 1000;
    top:0;   
    box-shadow: 0px 4px 3px rgba(0, 0,0,.5);
}


.menu-fixed ul li a{
    display: block;  
}
/*
footer{
    display: grid;
    bottom: 0%;
    background-color: rgba(10, 10, 10,.5);
    position: fixed;
    z-index: 1000;    
    width: 100%;
    grid-template-columns: 100%;                
}
*/
.redes a{
    text-decoration: none;    
    color: #fff;
}
.redes{ 
    text-decoration: none;    
    color: #fff;   
    width: 100%;  
    background-color: rgba(10, 10, 10,1);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;    
    font-size: 15px;            
}
.menub{
    display: none;
}

.cerrar{
    display: none;
}
.display1{
    display: none;
}
@media screen and (max-width:800px) {
          
    .cerrar{
        display: block;
    }
    #b > img{   
        display: block;          
        max-width: 1000px;
        padding: 1px 2px;
        width: 40px;       
        height: 40px;
        background-color: #6F0930; 
        box-shadow: 0px 4px 3px rgba(0, 0,0,.5);
    }
    .menu{        
        position: fixed;       
        width: 70%;
        height: 100%;
        margin: 0;
        transform: translate(-110%);
    }
    .menu ul li
    {
        display: block;
        width: 100%;
    }  
.menub:checked ~ .menu{
        width: 70%;
        height: 100%;
        margin: 0;
        transform: translate(0%);
    }
    .menub:checked ~ .menu ul li{
    display: block;
    width: 100%;
    }

}